{% extends "idci/index.html" %}

{% block title %}IDCI | Author Search IDCI{% endblock %}

{% block content %}
<h2>Search Result</h2>

<ol>
{% for list in lists %}
<li><a href="{% url "paperdetail" pk=list.pk judul=list.namalengkap %}">{{ list.title }}</a><br />
Cited {{ list.ncites }} times
<p class = "abstrak"> Abstract <br /><br />{{ list.abstract }}</p>
</li>
{% endfor %}
</ol>


{% endblock %}

{% block rightbar %}
{% endblock %}

{% block middletext %}
{% endblock %}

{% block topleft %}
{% endblock %}

{% block topmid %}
{% endblock %}

{% block topright %}
{% endblock %}
