{% extends "idci/index.html" %}

{% block title %}IDCI | Author Search IDCI{% endblock %}

{% block content %}
<form method="GET" action="asearch" class="post-form">
        <table>
            {{ form.as_p }}
            <tr>
                <td colspan=2>
                    <input type="submit" value="Search" class="save	btn	btn-default">
                </td>
            </tr>
        </table>
    </form>
<h2>Search Result</h2>

<ol>
{% for list in author %}
<li><a href="{% url "authorlist" nama=list.name %}">{{ list.name }} |  paper</a><br />
Affiliasi : {{ list.affil }} | {{ list.email }} 
</li>
{% endfor %}

{% for list2 in sum %}
<li><a href="{% url "authorlist" nama=list2.name %}">{{ list2.name }} | {{list2.paperid.title}} paper</a><br />
Affiliasi : {{ list.affil }} | {{ list.email }} 
</li>
{% endfor %}
</ol>


{% endblock %}

{% block rightbar %}

{% endblock %}

{% block middletext %}
{% endblock %}

{% block topleft %}
{% endblock %}

{% block topmid %}
{% endblock %}

{% block topright %}
{% endblock %}
