{% extends "idci/index.html" %}

{% block title %}IDCI | Author Search IDCI{% endblock %}

{% block content %}
<h2>Search Result</h2>

<div class="table-responsive">
					  <table class="table">
						
						{% for list in lists %}

<tr>
							<td>
								<a href="{% url "paperdetail" pk=list.paperid.pk judul=list.paperid.title %}">{{ list.paperid.title }}</a><br />
Cited {{ list.ncites }} times
<p class = "abstrak"> Abstract <br /><br />{{ list.abstract }}</p>
							</td>
						</tr>
{% endfor %}

						
						
					  </table>
					  
					
					</div>



{% endblock %}

{% block rightbar %}
{% endblock %}

{% block middletext %}
{% endblock %}

{% block topleft %}
{% endblock %}

{% block topmid %}
{% endblock %}

{% block topright %}
{% endblock %}
