{% extends "idci/index.html" %}

{% block title %}IDCI | Author Search IDCI{% endblock %}

{% block content %}
<form action="/authorsearch/" method="post">

			<div>
			<label for="id_subject" class="input_title">Author's Name</label>
			{% csrf_token %}
			{{ forma }}
			</div>
			<br /><br />
			<input type="submit" value="Search" class="btn btn-primary btn-md"/>
		</form>	
<h2>Search Result</h2>

<div class="table-responsive">
					  <table class="table">
						
						{% for list2 in author %}
    





						<tr>
							<td>
								<a href="{% url "authorlist" nama=list2.pk %}">{{ list2.name }} </a>| 

{% load apps_tags %}
  						
{{ sum|tauthor:forloop.counter0 }}
  						
 paper<br />
Affiliasi : {{ list2.affil }} | {{ list2.email }} 
		
							</td>
						</tr>
					
{% endfor %}
						
					  </table>
					  
					  <table class="table">
						
						{% for aut in penulis %}
							<tr><td>{{ aut.Authors.name }}<td></tr>
						{% endfor %}
						
						
					  </table>
					</div>
					

{% endblock %}

{% block rightbar %}

{% endblock %}

{% block middletext %}
{% endblock %}

{% block topleft %}
{% endblock %}

{% block topmid %}
{% endblock %}

{% block topright %}
{% endblock %}
