{% extends "idci/index.html" %}

{% block title %}IDCI | Paper Search IDCI{% endblock %}

{% block content %}
 <form action="/affsearch/" method="post">

            <div>
            <label for="id_subject" class="input_title">Affiliation's Name</label>
            {% csrf_token %}
            {{ formaf }}
            </div>
            <br /><br />
            <input type="submit" value="Search" class="btn btn-primary btn-md"/>
        </form> 

<br />
<div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">Search Result</h1>
                </div>
                <div class="panel-body">
                    
                    <div class="table-responsive">

                      <table class="table">
                        <tr>
                            <th class="text-center">Name</th>
                            <th class="text-center">Documents</th>
                         
                        </tr>

                        {% for list in publisher %}

<tr>
                            <td>
                                <a href="{% url "afflist" nama=list.pk %}">{{ list.name }}</a>



                            </td>
                            {% load apps_tags %}
                            <td class="text-center">{{ pap|taff:forloop.counter}} 
                            </td>

                           
                        </tr>
{% endfor %}

                        
                        
                      </table>
                      
                    
                    </div>
                    
                </div>
            </div>
{% endblock %}

{% block rightbar %}

{% endblock %}

{% block middletext %}
{% endblock %}

{% block topleft %}
{% endblock %}

{% block topmid %}
{% endblock %}

{% block topright %}
{% endblock %}
