{% extends "idci/index.html" %}

{% block title %}IDCI | Paper Search IDCI{% endblock %}

{% block content %}
   <div class="jumbotron">
  <h1 class="display-3">Submission Request Succedd</h1>
  <p class="lead">Thank you for your contribution. Our system will validate your request <br/>
   </p>
  <hr class="m-y-2">
  <p>Please click <a class="btn btn-primary btn-lg" href="\" role="button">HERE</a> to back to homepage</p>
  <p class="lead">
    
  </p>
</div>


{% endblock %}

{% block rightbar %}

{% endblock %}

{% block middletext %}
{% endblock %}

{% block topleft %}
{% endblock %}

{% block topmid %}
{% endblock %}

{% block topright %}
{% endblock %}