{% extends "idci/index.html" %}

{% block title %}IDCI | Paper Search IDCI{% endblock %}

{% block content %}
   <form action="/titlesearch/" method="post">

		<div>
		<label for="id_subject" class="input_title">Article's Title</label>
		{% csrf_token %}
		{{ form }}
		</div>
		<br />
		<input type="submit" value="Submit" class="btn btn-primary btn-md"/>
	</form>	
<br /><br />
<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title">Search Result</h1>
				</div>
				<div class="panel-body">
					
					<div class="table-responsive">
					  <table class="table">
						
					  	
						{% for obj in list %}
						<tr>
							<td>
								<a href="{% url "paperdetail" judul=obj.title pk=obj.pk %}"><h4>{{ obj.title|upper }}</h4></a> 
								
						{% load apps_tags %}
  						{% for pen in penulis|tdelta:forloop.counter0 %}
								       	 	
    
								        <a href="{% url "authorlist" nama=pen %}">{{ pen }}</a>,

								       
							       
								  {% endfor %}
								
								<br />
								{{ obj.venue.name }} {{ obj.venue.type }}, Volume {{ obj.volume }},Number {{ obj.number }}. {{ obj.year }}, {{ obj.pages }} pages <br /> 
								Cited : {{ obj.ncites}} times &nbsp &nbsp &nbsp Selfcited : {{ obj.selfCites}} times <br />
								ISBN / ISSN : {{ obj.kodebuku}}, Publisher : {{ obj.publisher}}, {{ obj.pubAddress}}
								<br /><br />

								<a href="{% url "merge_aff" judul=obj.title %}" class="btn btn-primary">Request Merging Affiliation</a> &nbsp;
								<a href="{% url "merge_aut" judul=obj.title %}" class="btn btn-primary">Claim Paper</a> <br />
		
							</td>
						</tr>
						{% endfor %}
						
						
					  </table>
					  
					 
					</div>
					
				</div>
			</div>


{% endblock %}

{% block rightbar %}

{% endblock %}

{% block middletext %}
{% endblock %}

{% block topleft %}
{% endblock %}

{% block topmid %}
{% endblock %}

{% block topright %}
{% endblock %}